@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-1: #755cde;
  --color-2: #eb7565;
  --color-3: #030303;
  --color-4: #f6a560;
  --color-5: #61c4b7;
  --color-6: #7a746e;
  --color-7: #f39e9e;
  --color-8: #552049;
  --color-9: #fff7f0;
}

body {
  /* height: 2595px; */
  font-family: "Plus Jakarta Sans";
  padding: 10px 0;
}

/* Navigation */

nav,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 1111px;
  margin: 0 auto;
}

.nav-button button {
  height: 56px;
  width: 228px;
  color: var(--color-9);
  background-color: var(--color-3);
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nav-button button:hover {
  background-color: var(--color-1);
}

/* Hero Section */
.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 752px;
  margin: 100px auto;
}

.header h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 71px;
  text-align: center;
  color: var(--color-3);
  margin-bottom: 30px;
}

.header p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--color-6);
}

/* Cards Section */

.cards {
  grid-area: card;
  display: grid;
  gap: 20px;
  grid: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "gd gd ui apps pho pho"
    "gd gd ill ill mo mo";
  height: 364px;
  width: 1111px;
  margin: 50px auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  padding: 8px;
}

.card p {
  justify-self: start;
}
.card img {
  align-self: end;
}
.graphic-design {
  grid-area: gd;
  background-color: var(--color-1);
}

.graphic-design img {
  width: 128px;
  height: 192px;
}

.ui-ux {
  grid-area: ui;
  background-color: var(--color-4);
}

.apps {
  grid-area: apps;
  background-color: var(--color-7);
}

.apps .ui-ux img {
  width: 64px;
  height: 64px;
}
.photography {
  grid-area: pho;
  background-color: var(--color-5);
}

.photography img {
  height: 64px;
  width: 160px;
}

.illustrations {
  grid-area: ill;
  background-color: var(--color-2);
}

.illustrations img {
  height: 64px;
  width: 128px;
}
.motion-graphics {
  grid-area: mo;
  background-color: var(--color-8);
}

.motion-graphics img {
  height: 64px;
  width: 128px;
}

/* Bio Section */

.bio {
  display: grid;
  grid: 1fr / repeat(2, 1fr);
  grid-template-areas: "pic intro";
  height: 445px;
  width: 1111px;
  margin: 100px auto;
}

.bio img {
  grid-area: pic;
  height: 445px;
  width: 445px;
}

.bio .bio-intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bio .bio-intro h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--color-3);
}

.bio .bio-intro p {
  margin: 50px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-6);
}

.bio button {
  border-radius: 28px;
  background-color: var(--color-2);
  color: var(--color-9);
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.bio button:hover {
  background-color: var(--color-4);
}

/* Work Text */

.work-text {
  text-align: center;
  margin: 100px auto;
}

/* Slide Section */

.swiper {
  max-width: 1440px;
  height: 360px;
  margin: 0 auto;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* Contact Section */

.contact {
  background-color: #030303;
  height: 320px;
  width: 1110px;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.contact-heading {
  font-size: 40px;
  line-height: 50px;
  color: var(--color-9);
  margin-bottom: 20px;
}

.contact-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.contact-info {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-9);
}

.contact-button {
  background: var(--color-2);
  height: 56px;
  width: 228px;
  border-radius: 28px;
  color: var(--color-9);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.contact-button:hover {
  background-color: #f6a560;
}
/* Tablet Medea Quireis */

@media (max-width: 1140px) {
  nav,
  footer,
  .hero,
  .cards,
  .bio,
  .contact {
    width: 690px;
  }

  .contact {
    flex-direction: column;
    padding: 40px;
  }
  .contact-info-section {
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .contact-heading {
    font-size: 32px;
  }

  .contact {
    height: 352px;
  }

  .swiper-slide img {
    height: 270px;
    width: 270px;
  }

  .bio {
    width: 100%;
  }

  .bio img {
    transform: translateX(-55px);
  }

  .cards {
    height: 570px;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "gd gd ui apps"
      "gd gd ill ill"
      "pho pho mo mo";
  }
}

@media (max-width: 800px) {
  nav,
  footer,
  .hero,
  .cards,
  .bio,
  .contact {
    width: 343px;
  }

  .contact {
    padding: 25px 25px;
  }

  .contact-info {
    font-size: 16px;
  }
  .contact-info-section {
    font-size: 16px;
    justify-content: space-evenly;
  }

  .contact-heading {
    margin-bottom: 0;
    font-size: 26px;
  }

  .swiper {
    height: 180px;
  }

  .swiper-slide img {
    height: 140px;
    width: 140px;
  }

  .bio img {
    transform: translateX(0);
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }

  .bio {
    grid: repeat(2, 1fr) / 1fr;
    grid-template-areas:
      "pic"
      "intro";
    height: 602px;
    gap: 5px;
  }

  .bio .bio-intro h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: var(--color-3);
  }

  .bio .bio-intro p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 15px 0;
  }

  .bio .bio-intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cards {
    grid-area: card;

    gap: 20px;
    grid: repeat(6, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "gd gd"
      "gd gd"
      "ui apps"
      "ill ill"
      "pho pho"
      "mo mo";
    height: 1164px;
    margin: 50px auto;
  }

  .hero {
    height: 210px;
    margin: 20px auto;
  }

  .header h1 {
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: var(--color-3);
    margin-bottom: 20px;
  }

  .header p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--color-6);
  }

  .contact-button button,
  .nav-button button {
    height: 44px;
    width: 176px;
  }
}
